/*
article p{
	
}*/

/*article  > p
	{background-color: salmon;

}*/

/*adjacent  sinblin selector*/

/* div + p{
	background-color: lightblue;
} */

/* h3 + p{
	background-color: lightblue;
} */

/* General Siblin Selector
 	div sejita  p{
 	background-color: lightblue;
 	*/